@import "../../scss/vars";

.checklist {
  background-color: white;
  box-shadow: 0 10px 50px -5px rgba(black, 0.1);
  margin: 20px 0;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: background-color 0.2s;

  &.has-focus {
    border-color: $green;
    box-shadow: 0 10px 50px -5px rgba($green, 0.2);
  }

  &:not(.is-expanded) ul {
    visibility: hidden;
    transition-delay: 0.2s;
  }

  &.is-completed {
    background-color: $light-green;
    box-shadow: 0 10px 50px -5px rgba($green, 0.2);
    transition: background-color 0.2s, box-shadow 0.2s;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    transition: visibility 0s;
  }

  > button {
    appearance: none;
    background-color: transparent;
    border: none;
    position: relative;
    width: 100%;
    font-size: inherit;
    color: inherit;
    text-align: left;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid transparent;
    outline: none;

    &:after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      height: 10px;
      width: 10px;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      transform: translateY(-75%) rotate(45deg);
      transition: transform 0.15s ease-out;
    }

    &.is-expanded {
      &:after {
        transform: translateY(-75%) rotate(-135deg);
      }
    }
  }
}

.button-content {
  display: flex;

  h2 {
    margin: 0;
    font-size: 1.1em;
  }

  p {
    margin: 0;
    margin-top: 5px;
    color: gray;
    font-variant-numeric: tabular-nums;
  }

  .is-completed & .text {
    transform: translateX(50px);
  }

  .text {
    transition: transform 0.3s $ease-out;
  }
}

.emoji {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
