@import "../../scss/vars";

.checklist-item {
  padding: 0 10px;

  input {
    position: absolute;
    opacity: 0;

    &:checked {
      + label {
        text-decoration: line-through;
        color: gray;

        .emoji {
          opacity: 1;
          animation: bounce 1s;
          transition: opacity 0.3s 0.3s;
        }

        &:before {
          // background-color: $green;
          border-color: transparent;
          // background-image: url(../../assets/checkmark.svg);
          animation: bounce 1s;
          transition: background-color 0.35s 0.25s, border-color 0s 0.3s;
        }

        &:after {
          transform: none;
          opacity: 0;
          transition: transform 0.6s 0.25s $ease-out, opacity 0.8s 0.25s;
        }
      }
    }

    &:focus + label {
      background-color: rgba(black, 0.05);
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 10px;
    user-select: none;

    &:before {
      content: "";
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 2px solid rgba(black, 0.2);
      border-radius: 20px;
      margin-right: 10px;
      will-change: transform;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      height: 50px;
      width: 50px;
      margin-left: -25px;
      margin-top: -25px;
      border: 4px dotted $green;
      border-radius: 100%;
      transform: scale(0);
    }
  }
}

.emoji {
  font-family: $emoji-font;
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1.5;
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.5, 0.5, 1);
  }
  40% {
    transform: scale3d(1.25, 1.25, 1);
  }
  50% {
    transform: scale3d(0.85, 0.85, 1);
  }
  65% {
    transform: scale3d(1.05, 1.05, 1);
  }
  75% {
    transform: scale3d(0.95, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
