@import "../../scss/vars";

.checklist-item {
  padding: 0 10px;

  input {
    position: absolute;
    opacity: 0;

    &:checked {
      + label {
        text-decoration: line-through;
        color: gray;

        .emoji {
          opacity: 1;
        }

        &:before {
          transform: scale(0);
          transition: transform .3s;
        }

        &:after {
          transform: none;
          opacity: 0;
          transition: transform 0.6s $ease-out, opacity 0.4s 0.4s;
        }
      }
    }

    &:focus + label {
      background-color: rgba(black, 0.05);
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 10px;
    user-select: none;

    &:before {
      content: "";
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 2px solid rgba(black, 0.2);
      border-radius: 20px;
      margin-right: 10px;
      will-change: transform;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      height: 50px;
      width: 50px;
      margin-left: -25px + 2px;
      margin-top: -25px - 2px;
      border: 4px dotted $yellow;
      border-radius: 100%;
      transform: scale(0);
    }
  }
}

.emoji {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
}
